.form {
    margin: 10px;
}


.form input {
    padding: 5px 10px;
    border: 1px solid transparent;
    outline: none;
    transition: border-color .4s ease;
    margin-bottom: 10px;
}

.form input:focus {
    border-color: aqua;
}
